<div class="p-5 capa">

    <div class="row p-5">
        <div class="col-4">
            <img src="assets/images/icons/kuma.png" width="80" />
        </div>
    </div>

    <div class="row fixed-bottom p-5">
        <div class="col-3 p-4 flex-w">
            <a href="https://www.facebook.com/KumaJapaneseTaste/" target="_blank"
                class="size3 flex-c-m how-social">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" target="_blank" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-3 m-t-3">
                <i class="fab fa-twitter"></i>
            </a>

            <a href="#" target="_blank" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-3 m-t-3">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/kuma_japanese_taste/" target="_blank"
                class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-3 m-t-3">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="col-6 text-center p-4">
            <div class="flex-w justify-content-center pt-2" style="cursor: default;">
                <div class=" flex-b m-r-22">
                    <span class="l1-txt1 wsize1 days" id="days"></span>
                    <span class="m1-txt1 pb-1">Dias</span>
                </div>
                <div class="flex-w flex-b m-r-22">
                    <span class="l1-txt1 wsize1 hours" id="hours"></span>
                    <span class="m1-txt1 pb-1">Hrs</span>
                </div>
                <div class="flex-w flex-b m-r-22">
                    <span class="l1-txt1 wsize1 minutes" id="minutes"></span>
                    <span class="m1-txt1 pb-1">Min</span>
                </div>
                <div class="flex-w flex-b m-r-22">
                    <span class="l1-txt1 wsize1 seconds" id="seconds"></span>
                    <span class="m1-txt1 pb-1">Seg</span>
                </div>
            </div>
        </div>
    </div>
</div>